<div class="container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>

  <%= f.input :description %>
  <%= f.association :ingredient %>

  <%= f.button :submit, class: "btn-primary" %>
  <% end %>

<span class="btn btn-outline-secondary mt-3"> <%= link_to 'Cancel', cocktails_path %></span>

</div>
